# NB: you can't use Ruby symbols (like :debug) in this file!
# use the string equivalent

# ALL-ENVIRONMENT SETTINGS
#
time_zone: 'Central Time (US & Canada)'
origin_url: 'https://yourorganizationhere.ccbchurch.com/api.php'
origin_user: 'youruserhere'
origin_passwd: 'yourpasswdhere'
ics_name: 'Event Calendar'
ics_prodid_domain: 'Example.org'
ics_time_zone: 'America/Chicago'

# PER-ENVIRONMENT SETTINGS
#
development:
  hostname: 'localhost:3000'
  log_level: 'debug'

production:
  hostname: 'localhost:3030'
  log_level: 'info'
  caching: true
  db_password: 'yourdbpasswordhere'

